# Dependencias
node_modules/
venv/
__pycache__/
*.pyc

# Builds
build/
dist/
.env

# Logs
*.log
logs/

# Archivos de sistema
.DS_Store
Thumbs.db

# Backend
backend/__pycache__/
backend/venv/
backend/*.mmdb

# IDE
.vscode/
.idea/

# Base de datos local
*.db
